<p>Hello, {{user.name}}!</p>

<ul>
  {{#each user.blogs as |blog|}}
    <li>
      <a href="/blog/{{blog.name}}">
        {{blog.name}} - {{blog.title}} - {{blog.url}}
      </a>
    </li>
  {{/each}}
</ul>
